/*
@import url(https://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700&amp;subset=arabic);

// 'Cairo', sans-serif
@import url(https://fonts.googleapis.com/css?family=Cairo:400,600,700,900&amp;subset=arabic);
// Droid Arabic Kufi
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css); 
// 'droid arabic naskh', sans-serif;
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css); 

// 'Tajawal', sans-serif
@import url(https://fonts.googleapis.com/css?family=Tajawal:400,500,700,800,900&amp;subset=arabic);

//'Roboto', sans-serif;  
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700);

// 'Ubuntu', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,700);

*/
body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.4)), url(../..//..//images/them-gray1.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

/* General */
/* main color */
.text-main-color {
  color: #0f367a;
}

.bg-main {
  background-color: #0f367a !important;
}

.btn-main {
  color: #fff;
  background-color: #0f367a;
  border-color: #0f367a;
}

.btn-outline-main {
  color: #0f367a;
  border-color: #0f367a;
}

.btn-outline-main:hover {
  color: #fff;
  background-color: #0f367a;
  border-color: #0f367a;
}

.btn-outline-main.focus, .btn-outline-main:focus {
  box-shadow: 0 0 0 0.2rem rgba(15, 54, 97, 0.5);
}

.border-main {
  border-color: #0f367a;
}

/* for hide element */
.hide-ele {
  display: none;
}

/* UNDER LINE HEADER */
.sec-title h2 .sec-title-border {
  width: 130px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid #032a54;
  right: 0;
  height: 0;
  margin: auto;
}

.sec-title h2 .sec-title-border span {
  width: 9px;
  height: 9px;
  position: relative;
  display: inline-block;
  top: -24px;
  right: 0;
  margin: 0 -3px;
}

.sec-title h2 .sec-title-border span::before {
  background: #fff;
  border: 1px solid #032a54;
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}

/* navbar */
.nav-top {
  top: 100px;
}

.nav-menu {
  /* background: linear-gradient(rgba(190,194,97,.5),rgba(190,194,97,.5)); */
  padding: 20px 20px;
  /* transition: all .2s; */
}

.img-logo {
  width: 110px;
  transition-duration: 0.8s;
}

.company-name {
  padding-left: 90px;
  transition-duration: 0.8s;
}

.nav-menu-dropdown {
  /* background: linear-gradient(rgba(190,194,97,.5),rgba(190,194,97,.5)); */
  padding: 10px;
  top: 47px;
}

.menu-item {
  font-size: 16px;
  color: #0f367a;
  transition: color 0.5s;
}

.nav-active {
  color: #0079bf;
}

.menu-item:hover {
  color: #0079bf;
}

.line1, .line2, .line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6.5px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6.1px);
}

.custom-nav {
  border: 1px solid #0f3661;
  background-color: #FFF;
  border-radius: 5px;
}

.custom-navbar {
  padding: 10px 30px;
  background: linear-gradient(white, #f1f1f1);
}

.custom-navbar-dropdown {
  padding: 5px;
  margin-top: 5px;
  background: linear-gradient(white, #f1f1f1);
  top: 60px;
}

.custom-img-logo {
  width: 70px;
  transition-duration: 0.8s;
}

.custom-company-name {
  padding-left: 40px;
  transition-duration: 0.8s;
}

/* end of navbar */
/* end of header */
/* header */
.header-img {
  margin-top: 80px;
  height: 80vh;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../..//..//images/banner1.jpg) no-repeat center center/cover;
}

/* news */
.news {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)), url(../..//..//images/them-gray1.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}
.news .img-slide {
  width: 150px;
  height: 150px;
  margin-right: 1rem !important;
  margin-left: 0;
}
.news .news-link a {
  color: #0f3661 !important;
  text-decoration: none;
  background-color: transparent;
}
.news .news-link a:hover {
  color: #0f3661 !important;
  text-decoration: none;
  background-color: transparent;
}

.fromLeft {
  animation-name: fromLeft;
  animation-duration: 5s;
}

.fromRight {
  animation-name: fromRight;
  animation-duration: 5s;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fromRight {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* end of news */
/* contact */
.chairman {
  background: linear-gradient(105deg, rgba(21, 31, 32, 0.568) 0%, rgba(21, 31, 32, 0.95) 100%, transparent 100%), url(../..//..//images/home3.JPG) center center no-repeat/cover;
  background-attachment: fixed;
}

.chairman .chairman-content-box > p {
  border: 1px solid #ddd;
  margin-bottom: 25px;
  padding: 15px 25px;
}

.fromUp {
  animation-name: fromUp;
  animation-duration: 5s;
}

.fromDown {
  animation-name: fromDown;
  animation-duration: 5s;
}

@keyframes fromUp {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fromDown {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* end of chairman */
/* product */
.products p {
  text-align: left;
}

.products .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
}

/* The colour of the indicators */
.products .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.products .carousel-indicators .active {
  background: #707070;
}

/* The controlsy */
.products .carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}

.products .carousel-control.right {
  right: -12px;
}

.porduct-bg img {
  border: 1px solid #0f3661;
}

.product-box {
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-box-overlay {
  position: absolute;
  left: 0;
  padding: 17px;
  top: 0;
  transform: scaleX(0);
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  color: #fff;
  text-align: center;
  background: rgba(15, 54, 97, 0.9);
  border: 2px solid #fff;
}

.product-box-overlay a {
  color: #fff;
}

.portfolio-box-overlay h4 {
  color: #fff;
}

.product-box-overlay p {
  margin: 12px 0;
  color: #fff;
}

.product-box:hover .product-box-overlay {
  transform: scaleX(1);
}

.products .img-thumbnail {
  padding: 0;
  border-radius: 0;
}

/* end of product */
/* footer */
.top-page .back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  z-index: 1;
}
.top-page .btn-main {
  border: 1px solid #fff;
}
.top-page .back-to-top:hover {
  color: #eee;
}

footer {
  background: linear-gradient(rgba(4, 28, 56, 0.8), rgba(4, 28, 56, 0.9)), url(../..//..//images/them-blue1.jpg) center center/cover;
}

.footer-link {
  color: #eee;
  font-size: 13px;
  transition: all 0.3s;
}

.footer-link:hover {
  color: #70aed2;
  text-decoration: none;
}

.mr-2-ftr {
  margin-right: 0.5rem !important;
  margin-left: 0 !important;
}

.address-ftr {
  margin-left: 0px;
  margin-right: 5px;
}

.state-ftr {
  margin-right: 6px;
  margin-left: 0px;
}

.mobile-ftr {
  margin-right: 8px;
  margin-left: 3px;
}

.phone-ftr {
  margin-right: 5px;
  margin-left: 0px;
}

/* end of footer */
@media (max-width: 991px) {
  .company-name {
    padding-left: 0px;
    transition-duration: 0.8s;
  }

  .header-img {
    margin-top: 0px;
    height: 85vh;
  }

  .img-latest {
    height: 100%;
  }

  .breadcrumb {
    display: none;
  }
}
@media (min-width: 992px) {
  .login-nav, .drop-nav {
    display: none;
  }

  .img-latest {
    width: 100%;
    height: 330px;
  }

  .breadcrumb {
    margin-top: 80px;
    margin-bottom: 0;
    height: 300px;
    font-size: 16px;
    font-weight: bold;
  }
}

/*# sourceMappingURL=homepage.css.map */
