.header-img{
    display: none;
}

.breadcrumb{
    background: linear-gradient(rgba(4, 28, 56, .4), rgba(4, 28, 56, .5)),url(../..//..//images/investors.jpg) no-repeat center center / cover;
    border-radius: 0;
}

/* new projects */
.projects{
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .6)),url(../..//..//images/them-gray1.jpg) no-repeat center center / cover;
    background-attachment: fixed;
}
.project_details,.plants{

    img{
        display: block;
        max-width: 100%;
        height: 500px;
    }
    
     blockquote {
        color: #666;
        margin-top: 30px;
    }
}
/* end for new project */

/*Certifications Page*/

.cert-card .card-body{
    padding: 0;
    
    .card-text{
        padding: 0 1.25rem;
    }
}


/*end certifications page*/