

.header-img{
    display: none;
}
.breadcrumb{
    background: linear-gradient(rgba(4, 28, 56, .4), rgba(4, 28, 56, .5)),url(../..//..//images/exports.jpg) no-repeat center center / cover;
    border-radius: 0;
    
    background-size: cover;
    height: 500px!important;
}


