.header-img{
    display: none;
}

.breadcrumb{
    background: linear-gradient(rgba(4, 28, 56, .4), rgba(4, 28, 56, .5)),url(../..//..//images/investors.jpg) no-repeat center center / cover;
    border-radius: 0;
}

.investor-table{
    background-color: #fff;    
    padding: 2rem;

    table{
        background-color: #f7f7f7;
        
        tbody tr td:first-child { 
            width: 25%;
                color: $baseColor;
                font-weight: bold;
        }
    }
}

.shareholders-table table tbody tr td:first-child{
    width: 50%;
}

.files{
    background-color: #f7f7f7;
    padding: 2rem 0;
    ul li {
        padding-bottom: 5px;
    }
}