
.header-img{
    display: none;
}
.breadcrumb{
    background: linear-gradient(rgba(4, 28, 56, .4), rgba(4, 28, 56, .5)),url(../..//..//images/banner2.jpg) no-repeat center center / cover;
    border-radius: 0;
    
    background-size: cover;
    height: 500px!important;
}
.products-market{
    background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0.5));
    .px-100{        
        margin-left: 100px;
        margin-right: 100px;
    }
    .prod-img{
        max-height: 150px;
    }
    .project-box{
        padding: 20px;

    }
}