// new products
.porduct-bg img{
    background-size: 300px 350px!important;
    border-radius: 10px;
    border:1px solid #0f3661;
}
.product-box {
    height: 350px;
    width: 300px;
    position: relative;
    z-index: 1;
    margin-top: 30px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.product-box-overlay {
    position: absolute;
    left: 0;
    padding: 17px;
    top: 0;
    transform: scaleX(0);
    height: 350px;
    width: 300px;
    transition: all 0.4s;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    background: rgba(15, 54, 97,0.75);
}
.product-box-overlay a {
    border-radius: 5px;
    color: #fff;
}

.portfolio-box-overlay h4 {
    color: #fff;
}

.product-box-overlay p {
    margin: 12px 0;
    color: #fff;
}

.product-box:hover .product-box-overlay {
    transform: scaleX(1);
}