$baseColor: #0f367a;
$left: left;
$right: right;
// fonts
// arabic
$markazi : 'Markazi Text', serif;
$cairo : 'Cairo', sans-serif;
$tajawal : 'Tajawal', sans-serif;
$naskh:'droid arabic naskh', sans-serif;
$kufi: 'Droid Arabic Kufi', sans-serif;

// english
$roboto : 'Roboto', sans-serif; 
$ubuntu : 'Ubuntu', sans-serif;

$arFont: $cairo;

