/* footer */
.top-page{
  .back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    z-index: 1;
  }
  .btn-main{
    border: 1px solid #fff;
  }
  .back-to-top:hover{
    color: #eee;
  }
}
footer{
  background: linear-gradient(rgba(4, 28, 56,0.8), rgba(4, 28, 56, 0.9)),url(../..//..//images/them-blue1.jpg) center center /cover ;

}
.footer-link{
  color: #eee;
  font-size: 13px;
  transition: all .3s;
}

.footer-link:hover{
color: #70aed2;
text-decoration: none;
}

.mr-2-ftr{
  margin-right: .5rem!important;
  margin-left: 0!important;
}
.address-ftr{
  margin-left: 0px;
  margin-right: 5px;
}

.state-ftr{
  margin-right: 6px;
  margin-left: 0px;
}

.mobile-ftr{
  margin-right: 8px;
  margin-left: 3px;
}

.phone-ftr{
  margin-right: 5px;
  margin-left: 0px;
}
/* end of footer */