/* footer */
footer{
  background: linear-gradient(rgba(4, 28, 56,0.8), rgba(4, 28, 56, 0.9)),url(../..//..//images/them-blue1.jpg) center center /cover ;

}
.footer-link{
  color: #eee;
  font-size: 13px;
  transition: all .3s;
}

.footer-link:hover{
color: #70aed2;
text-decoration: none;
}

.mr-2-ftr{
  margin-right: .5rem!important;
  margin-left: 0!important;
}
.address-ftr{
  margin-left: 0px;
  margin-right: 5px;
}

.state-ftr{
  margin-right: 6px;
  margin-left: 0px;
}

.mobile-ftr{
  margin-right: 8px;
  margin-left: 3px;
}

.phone-ftr{
  margin-right: 5px;
  margin-left: 0px;
}
/* end of footer */