/*Navigation*/
.dropdown-item{
    font-size: 14px;
}
.dropdown-item:hover{
    background-color: $baseColor;
    color: #fff;    
    padding-left: 2rem;
    transition: padding-left 1s;
}

.dropdown-menu{
    width: 300px;
}
/*End Navigation*/


/* General */

.img-shadow{
  box-shadow: 0 0 10px #0F3661;
}

/* animations */
.animated {
  animation-duration: 1.7s!important;
}

.fromUp{
  animation-name: fromUp;
  animation-duration: 2s;
}

.fromDown{
  animation-name: fromDown;
  animation-duration: 2s;
}

@keyframes fromUp{

  0%{
    transform: translateY(-400px);
    opacity: 0;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
  

}

@keyframes fromDown{

  0%{
    transform: translateY(400px);
    opacity: 0;
  }

  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

/* end for animations */

/* main color */
.text-main-color{
  color: $baseColor;
}

.bg-main {
  background: linear-gradient(rgba(4, 28, 56, 0.8), rgba(4, 28, 56, 0.9)), url(../..//..//images/them-blue1.jpg) center center/cover;
}

.border-main{
  border-color: $baseColor; 
}
/* end for main color */

/* buttons*/
.btn{  
  border-radius: 0;
}
.btn-main {
  color: lightgrey;
  background-color: $baseColor;
  border-color: $baseColor;
}

.btn-main:hover {
  color: white;
  transition: color .15s ease-in-out;
}


.btn-outline-main {
  color: $baseColor;
  border-color: $baseColor;
}
.btn-outline-main:hover{
  color:#fff !important;
  background-color:$baseColor;
  border-color:$baseColor;
}
.btn-outline-main.focus,.btn-outline-main:focus{
  box-shadow:0 0 0 .2rem rgba(15,54,97,.5);
}
/* end for main color*/

/* for hide element */
.hide-ele{
  display: none;
}

/* UNDER LINE HEADER */
.sec-title h2 .sec-title-border,.sec-title h4 .sec-title-border {
  width: 130px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid #032a54;
  right: 0;
  height: 0;
  margin: auto;
}

.sec-title h2 .sec-title-border span,.sec-title h4 .sec-title-border span {
  width: 9px;
  height: 9px;
  position: relative;
  display: inline-block;
  top: -24px;
  right: 0;
  margin: 0 -2px;
}
.sec-title h2 .sec-title-border span::before{
  background: #fff;
  border: 1px solid #032a54;
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}

.sec-title h4 .sec-title-border span::before {
  background: #fff;
  border: 1px solid #032a54;
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}
/* end for under line header*/

/* end for general*/

/* header*/

/* navbar */
.nav-top{
  top: 100px;
}
.nav-menu{
  padding: 20px 20px;
}

.img-logo{
  width: 110px;
  transition-duration: .8s;
}

.company-name{  
  padding-left: 90px;
  transition-duration: .8s;
}
.nav-menu-dropdown{
  padding: 10px;
  top: 47px;
}

.menu-item{
  font-size: 16px;
  color: $baseColor;
  transition: color .5s;
}

.nav-active{
  color: #0079bf;
}

.menu-item:hover{
  color: #0079bf
}

.line1, .line2, .line3{
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all .4s;
}

.change .line1{
  transform: rotate(-45deg) translate(-5px,6.5px);
}

.change .line2{
  opacity: 0;
}

.change .line3{
  transform: rotate(45deg) translate(-5px,-6.1px);
}

.custom-nav{
  border: 1px solid #0f3661;
  background-color: #FFF;
  border-radius: 5px;
}

.custom-navbar{
  padding: 10px 30px;
  background: linear-gradient(rgb(255, 255, 255), rgb(241, 241, 241));
}

.custom-navbar-dropdown{
  padding: 5px ;
  margin-top: 5px;
  background: linear-gradient(rgb(255, 255, 255), rgb(241, 241, 241));
  top: 60px;
}

.custom-img-logo{
  width: 70px;
  transition-duration: .8s;
}

.custom-company-name{  
  padding-left: 40px;
  transition-duration: .8s;
}
/* end of navbar */

/* end of header */
/* new projects and products*/

.new-projects,.products-market{

  background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 1)),url(../..//..//images/new_projects/3/1.jpg) no-repeat center center / cover;
  border-radius: 0;

  .project-box p {
      margin-bottom: 12px;
  }
  .project-box h4 {
      font-size: 20px;
      transition: all 0.4s;
  }
  .project-box:hover .btn-outline-main {
      border: 1px solid #fff;
      background: transparent;
      color: #fff;
  }
  .project-box:hover {
      color: #fff;
  }
  .project-box:hover h4 {
      color: #fff;
  }
  .project-icon {
      float: left;
      padding-top: 15px;
      padding-right: 20px;
      margin-right: 18px;
      position: relative;
      height: 100px;
      transition: all 0.4s;
  }
  .project-text {
      overflow: hidden;
      flex: 3;
  }
  .project-box {
      padding: 20px;
      position: relative;
      z-index: 1;
      border: 1px solid #0F3661;
      margin-top: 30px;
      transition: all 0.4s;
  }
  .project-icon::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0px;
      bottom: 0;
      width: 2px;
      transition: all 0.4s;
      background: #0f3661;
  }
  .project-box i {
      font-size: 25px;
      color: #0f3661;
      transition: all 0.4s;
  }
  .project-box h4 {
      margin: 0 0 10px;
  }
  .project-box:hover i {
      color: #fff;
      transform: translateY(-10px);
      transition: transform 0.4s;
  }
  .project-box:hover .project-icon {
      height: 70px;
  }
  .project-box:hover .project-icon::before {
      background: #fff;
  }
  .project-box::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      width: 0;
      height: 0;
      bottom: 0;
      background: #0F3661;
      margin: auto;
      transition: all 0.4s;
  }
  .project-box:hover::before {
      height: 100%;
      width: 100%;
  }
}

/* end for new projects and products*/