
@media (max-width: 991px) {
  .company-name{  
    padding-left: 0px;
    transition-duration: .8s;
  }
  .header-img,.home-slid{
    margin-top: 0px;  
  }
  .img-latest{
    height: 100%;
  }
  .breadcrumb{
      display: none;
  }
  
  .dropdown-menu{
    width: 100%;
}
  
  .products-market{
    .card{
      min-height: 0;
    }
    .px-100{      
      padding-left: 0;
      padding-right: 0;
    }
  }
} 
@media (min-width: 992px) {
  .project_details{
  margin-top: 100px!important;
  }
  .login-nav, .drop-nav{
    display:none;
  }

  .img-latest{
    width: 100%;
    height: 330px;
  }

  .breadcrumb{
    margin-top: 80px;
    margin-bottom: 0;
    height: 300px;
    font-size: 16px;
    font-weight: bold;
  }

}
