
@media (max-width: 991px) {
  .company-name{  
    padding-left: 0px;
    transition-duration: .8s;
  }
  .header-img{
    margin-top: 0px;
    height: 85vh;    
  }
  .img-latest{
    height: 100%;
  }
} 
@media (min-width: 992px) {
  .login-nav, .drop-nav{
    display:none;
  }

  .img-latest{
    width: 100%;
    height: 330px;
  }
}