
@media (max-width: 991px) {
  .company-name{  
    padding-left: 0px;
    transition-duration: .8s;
  }
  .header-img{
    margin-top: 0px;
    height: 85vh;    
  }
  .img-latest{
    height: 100%;
  }
  .breadcrumb{
      display: none;
  }
} 
@media (min-width: 992px) {
  .login-nav, .drop-nav{
    display:none;
  }

  .img-latest{
    width: 100%;
    height: 330px;
  }

  .breadcrumb{
    margin-top: 80px;
    margin-bottom: 0;
    height: 300px;
    font-size: 16px;
    font-weight: bold;
  }
}
