body{
    font-family: 'Cairo', sans-serif;
}

.row{
    text-align: right;
}
.media{
    text-align: right;
}

.media-body{
    margin: 0 5px;
}

.img-slide {
    width: 150px;
    height: 150px;
    margin-left: 1rem !important;
    order: 2 !important;
    margin-right: 0 !important;
  }

p{
    text-align: right!important;
    
    direction: rtl;
}


footer{

    .copy-right p{
        text-align: center!important;
    }


    li{
        direction: rtl;
    }
    i{
        margin-right: 0!important;
        margin-left: .5rem!important;
    }

    .mr-2-ftr{
        margin-left: .5rem!important;
        margin-right: 0!important;
    }
    

    .state-ftr{
        margin-right: 1px!important;
        margin-left: 10px!important;
      }
      
      .mobile-ftr{
        margin-right: 4px!important;
        margin-left: 15px!important;
      }
      
      .phone-ftr{
        margin-right: 1px!important;
        margin-left: 13px!important;
      }
}

/*Investors*/
/*brief page*/
.brief{
    text-align: right;
    direction: rtl;
}
/*end brief page*/
/*End Investors*/

/*Nanigation*/

.nav-item.dropdown .dropdown-item{
    text-align: right;
}

.dropdown-item:hover{
    /*padding-left: 0 !important;*/
    padding-right: 2rem;
    transition: padding-right 1s;
}

/*End Navigation*/

@media (min-width: 992px) {
    .navbar-nav{
        flex-direction: row-reverse!important;
    }    
  }
  
  
  

